@import '~/styles/variables.css';
@import '~/styles/reset.css';

html {
  font-synthesis: none;
}

body {
  color: var(--font-color);
  background: var(--bg-color);
  font-size: 16px;
  line-height: 1.2;
  font-family: var(--site-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

#main {
  font-size: var(--font-size-body);
  min-height: 70vh;

  section {
    padding: 0 var(--spacing-md);
  }
}

.inner-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.main-gradient-bg {
  background: var(--deep-blue);
  background: var(--main-gradient);
}

.cta {
  color: var(--main-blue);
  background: var(--white-blue);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  height: 1.75rem;
  border: 1px solid var(--main-blue);
  border-radius: 3px;
  transition: background 0.3s var(--ease-3);
  text-decoration: none;
  line-height: 1.5;
  font-size: var(--font-size-body);
  outline: 0;

  button&,
  a& {
    padding: 0 var(--spacing-xs);
  }

  select& {
    font-family: var(--site-font);
    padding-bottom: 4px;
  }

  &:hover {
    background: var(--white);
  }

  &[disabled='true'] {
    pointer-events: none;
    color: var(--gray);
    border-color: var(--gray);
  }
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
