@import 'open-props/postcss/style';

:root {
  /* color definitions */
  --darker-blue: #1d1c25;
  --dark-blue: #181e33;
  --deep-blue: #171f40;
  --main-blue: #1e2a5a;
  --light-blue: var(--blue-0);
  --white-blue: #f5fbff;
  --gold: #b8961b;
  --white: #f8fbf6;
  --light-gray: #f3f5f8;
  --black: #16161d;
  --main-gradient: linear-gradient(
    180deg,
    var(--darker-blue) 0%,
    var(--deep-blue) 30%,
    var(--main-blue) 100%
  );

  /* spacing */
  --spacing-xxs: var(--size-1);
  --spacing-xs: var(--size-2);
  --spacing-sm: var(--size-3);
  --spacing-md: var(--size-5);
  --spacing-lg: var(--size-7);
  --spacing-xl: var(--size-9);

  /* typography */
  --font-size-caption: clamp(0.75rem, 0.75vw, 1rem);
  --font-size-body: clamp(--font-size-fluid-0);
  --font-size-head: var(--font-size-fluid-2);
  --font-size-subhead: var(--font-size-fluid-1);

  /* theme */
  --font-color: var(--black);
  --bg-color: var(--white);

  --nav-link: var(--gray-5);

  --footer-bg: var(--gray-10);
  --footer-color: var(--gray-6);
  --footer-link: var(--gray-5);
  --footer-footnote: var(--gray-7);
}
